<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rick Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <!-- Logo Rick Store di sini -->
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Rick Store Logo" class="logo">
        <h1>Rick Store</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search') }}">Search</a>
            <a href="{{ url_for('checkout') }}">Checkout ({{ session.get('cart', []) | length }})</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>